---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <body>
    <h1>我的Astro网站</h1>
    <h1>关于我</h1>
    <h2>....和我的新Astro网站！</h2>
    <p>我正咋学习Astro，Astro真是个好东西！</p>

    <p></p>
  </body>
</Layout>
