---
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<Layout pageTitle="我的博客">
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
