---
import Abstract from "@/components/abstract.astro";
import PostAbstract from "@/components/postAbstract.astro";
import Tags from "@/components/tags.astro";
import Title from "@/components/title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="kblog2-技术共享">
  <div class="flex gap-4"></div>
  <Title title="Latest" />
  <Abstract />
  <Title title="Tags" />
  <Tags tags={["JavaScript", "TypeScript", "React", "Vue", "Svelte"]} />
  <Title title="Posts" />
  <PostAbstract
    posts={[
      {
        date: "2022 · 01 · 01",
        title: "Hello, world!",
        description: "Welcome to my blog!",
      },
      {
        date: "2022 · 01 · 01",
        title: "Hello, world!",
        description: "Welcome to my blog!",
      },
      {
        date: "2022 · 01 · 01",
        title: "Hello, world!",
        description: "Welcome to my blog!",
      },
    ]}
  />
</Layout>
