---
import Ad from "@/components/ad.astro";
import Profile from "@/components/profile.astro";
import { BriefCard } from "@/components/react/briefCard";
import { Card } from "@/components/ui/card";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="kblog2-技术共享">
  <div class="flex gap-4">
    <Ad client:load />
    <Profile />
  </div>
  <Card className="mt-4 flex flex-col gap-4">
    <BriefCard
      title="学习Astro心得"
      description="Astro是一款基于React和Snowpack的静态网站生成器，它可以帮助你快速、轻松地构建网站。"
      tags={["React", "Snowpack"]}
      date="2022-01-01"
      headImg="/bg.jpg"
      url="https://www.baidu.com"
    />
    <BriefCard
      title="学习Astro心得"
      description="Astro是一款基于React和Snowpack的静态网站生成器，它可以帮助你快速、轻松地构建网站。"
      tags={["React", "Snowpack"]}
      date="2022-01-01"
      headImg="/bg2.jpg"
      url="https://www.baidu.com"
    />
  </Card>
</Layout>
