---
import Abstract from "@/components/abstract.astro";
import PostAbstract from "@/components/postAbstract.astro";
import Tags from "@/components/tags.astro";
import Title from "@/components/title.astro";
import fetchApi from "@/lib/strapi";
import dayjs from "dayjs";
import type Article from "../interfaces/article";
import Layout from "../layouts/Layout.astro";

const articles =
  (await fetchApi<Article[]>({
    endpoint: "articles",
    wrappedByKey: "data",
  })) || [];
---

<Layout pageTitle="kblog2-技术共享">
  <div class="flex gap-4"></div>
  <Title title="Latest" />
  <Abstract post={articles[0]} />
  <Title title="Tags" />
  <Tags tags={["JavaScript", "TypeScript", "React", "Vue", "Svelte"]} />
  <Title title="Posts" />
  <PostAbstract
    posts={articles.map(({ createdAt, title, description, documentId }) => ({
      createdAt: dayjs(createdAt).format("YYYY · MM · DD"),
      title,
      description,
      documentId,
    }))}
  />
</Layout>
