---
import Recommend from "@/components/recommend.astro";
import Title from "@/components/title.astro";
import Layout from "@/layouts/Layout.astro";
import { ChevronLeft, ChevronRight } from "@lucide/astro";

export function getStaticPaths() {
  return [{ params: { slug: "1" } }, { params: { slug: "2" } }];
}

const { slug } = Astro.params;
---

<Layout>
  <div class="flex flex-col gap-4">
    <h1 class="text-2xl">If you're remote, ramble</h1>
    <p class="mb-2">July 31, 2025 😊 1 minute read</p>

    <div class="leading-[32px] text-lg">
      A tip for remote teams of 2-10 people. Create a personal “ramblings”
      channel for each teammate in your team’s chat app of choice. Ramblings
      channels let everyone share what’s on their mind without cluttering group
      channels. Think of them as personal journals or microblogs inside your
      team’s chat app, a lightweight way to add ambient social cohesion. People
      typically post short updates 1-3 times per week. Common topics include:
      ideas related to current projects musings about blog posts, articles, user
      feedback “what if” suggestions photos from recent trips or hobbies rubber
      ducking a problem Each ramblings channel should be named after the team
      member, and only that person can post top-level messages. Others can reply
      in threads, but not start new ones. All the ramblings channels should be
      in a Ramblings section at the bottom of the channel list. They should be
      muted by default, with no expectation that anyone else will read them. We
      started experimenting with ramblings at Obsidian two years ago, and
      they’ve been surprisingly sticky. We have no scheduled meetings, so
      ramblings are our equivalent of water cooler talk. We want as much deep
      focus time as possible, so ramblings help us stay connected while
      minimizing interruptions. Because they are so free and loose, some of our
      best ideas emerge from ramblings. They’re often the source of feature
      ideas, small prototypes, and creative solutions to long-standing problems.
      About once a year, we do a week-long in-person meetup. Ramblings have been
      one successful way we keep the human connection going throughout the rest
      of the year.
    </div>
  </div>

  <div class="flex gap-4 my-8 justify-between">
    <span
      class="text-xl hover:text-orange-500 dark:hover:text-purple-400 cursor-pointer"
    >
      <a href={`/post/${parseInt(slug) - 1}`}><ChevronLeft /></a>
    </span>
    <span
      class="text-xl hover:text-orange-500 dark:hover:text-purple-400 cursor-pointer"
      ><a href={`/post/${parseInt(slug) + 1}`}><ChevronRight /></a>
    </span>
  </div>

  <Title title="You might also like" />
  <Recommend />
</Layout>
