---
import { Curousel } from "./react/curousel";
import { Card } from "./ui/card";
---

<Card className="w-2/3">
  <div class="w-full h-full flex items-center justify-center rounded-sm">
    <Curousel client:load />
  </div>
</Card>
