---
import { Nav } from "@/components/react/nav";
import { Menu } from "./react/menu";
import ThemeIcon from "./themeIcon.astro";
---

<div class="flex items-center justify-between my-4 sm:my-16">
  <div class="cursor-pointer font-bold">
    <a href="/" class="hover:text-orange-500 dark:hover:text-purple-500"
      >JIN😊LONG</a
    >
    <!-- <a href="/post/1" class="text-orange-500 dark:text-purple-500">
      &nbsp;/ <span class="hover:text-slate-500">Latest</span></a
    > -->
  </div>
  <div class="flex gap-4">
    <div class="hidden sm:block">
      <nav class="flex items-center gap-4">
        <Nav className="flex items-center gap-4" />
      </nav>
    </div>
    <div class="block flex gap-2 sm:hidden">
      <Menu client:only="react" />
    </div>
    <ThemeIcon />
  </div>
</div>
