---
import Hamburger from "./hamburger.astro";
import Navigation from "./navigation.astro";
import { ModeToggle } from "./react/modeToggle";
import ThemeIcon from "./themeIcon.astro";
import { Button } from "./ui/button";
---

<header>
  <nav class="nav">
    <Hamburger />
    <Navigation />
    <ModeToggle client:load />
  </nav>
</header>
