<div>
  <ul class="flex flex-col gap-2">
    <li>
      <a
        href="#"
        class="hover:underline hover:decoration-wavy hover:text-orange-500 dark:hover:text-purple-500"
        >Recommended for you</a
      >
    </li>
    <li>
      <a
        href="#"
        class="hover:underline hover:decoration-wavy hover:text-orange-500 dark:hover:text-purple-500"
        >Recommended for you</a
      >
    </li>
  </ul>
</div>
