---
import type { ArticleCategory } from "@/interfaces/articleCategory";
import fetchApi from "@/lib/strapi";

const categories =
  (await fetchApi<ArticleCategory[]>({
    endpoint: "categories",
    wrappedByKey: "data",
  })) || [];
---

<div class="flex gap-4 text-slate-900 dark:text-slate-300">
  {
    categories.map((item) => (
      <a
        class="hover:text-orange-500 dark:hover:text-purple-500"
        href={`/tag/${item.slug}`}
      >
        {item.name}
      </a>
    ))
  }
</div>
