---
import Header from "@/components/header.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="dark:text-slate-400">
    <img src="/bg6.svg" class="bg-img" alt="" />
    <div class="w-full p-4 sm:w-2/3 sm:mx-auto sm:max-w-screen-lg">
      <div class="flex justify-center flex-col">
        <Header />
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  .bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
</style>
